<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <div style="
    text-align: center; 
    background-color:rgb(230, 55, 122); 
    border-radius:4px; 
    padding:40px"><h3>Layout Header</h3></div>
    {{{body}}}

     <div style="
    text-align: center; 
    background-color:rgb(55, 230, 148); 
    border-radius:4px; 
    padding:5px"><h3>Layout Footer</h3></div>
</body>
</html>